.landing-page {
  	width: 100%;
  	height: 9336px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: center;
  	font-size: 48px;
  	color: #f8fafc;
  	font-family: Inter;
}
.container-parent {
  	position: absolute;
  	top: 1024px;
  	left: calc(50% - 720px);
  	border-radius: 2px;
  	background-color: #f8fafc;
  	width: 1440px;
  	height: 817px;
  	overflow: hidden;
  	color: #020617;
  	font-family: 'League Gothic';
}
.container {
  	position: absolute;
  	top: 65px;
  	left: 304px;
  	width: 846px;
  	height: 134.6px;
}
.heading-2 {
  	position: absolute;
  	top: 37px;
  	left: calc(50% - 423px);
  	width: 846px;
  	height: 54.6px;
}
.os-desafios-do {
  	position: absolute;
  	top: -1.33px;
  	left: 234.34px;
  	flex-shrink: 0;
}
.uma-plataforma-integrada {
  	position: absolute;
  	top: 107.56px;
  	left: 141.31px;
  	font-size: 20px;
  	font-family: Inter;
  	color: #475569;
}
.container2 {
  	position: absolute;
  	top: 298px;
  	left: 144px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	text-align: left;
  	font-size: 20px;
  	color: #f8fafc;
  	font-family: Inter;
}
.container3 {
  	width: 477px;
  	height: 95px;
  	border-radius: 12px;
  	background-color: #ea580c;
  	display: flex;
  	align-items: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
  	gap: 16px;
}
.filemagnifyingglass {
  	height: 43px;
  	width: 43px;
  	position: relative;
}
.vector-icon {
  	position: absolute;
  	height: 81.16%;
  	width: 68.84%;
  	top: 9.37%;
  	right: 15.54%;
  	bottom: 9.46%;
  	left: 15.63%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container4 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 4px;
}
.heading-3 {
  	align-self: stretch;
  	height: 24px;
  	position: relative;
}
.documentos-extraviados {
  	position: absolute;
  	top: -1px;
  	left: 0px;
}
.paragraph {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1px 0px;
  	font-size: 16px;
}
.coleta-transporte-e {
  	flex: 1;
  	position: relative;
}
.vector-icon2 {
  	position: absolute;
  	height: 81.4%;
  	width: 81.4%;
  	top: 9.29%;
  	right: 9.32%;
  	bottom: 9.32%;
  	left: 9.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.paragraph2 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 16px;
}
.law {
  	height: 43px;
  	width: 43px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.scale-icon {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon3 {
  	position: absolute;
  	height: 87.44%;
  	width: 75.12%;
  	top: 3.13%;
  	right: 12.38%;
  	bottom: 9.43%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.gemini-generated-image-122dul1-icon {
  	position: absolute;
  	top: 291px;
  	left: 851px;
  	box-shadow: 0px 4px 9.2px 5px rgba(0, 0, 0, 0.25);
  	border-radius: 16px;
  	width: 435px;
  	height: 426px;
  	object-fit: cover;
}
.container-group {
  	position: absolute;
  	top: 2839px;
  	left: calc(50% - 720px);
  	border-radius: 2px;
  	background-color: #f8fafc;
  	width: 1440px;
  	height: 860px;
  	overflow: hidden;
  	color: #64748b;
}
.container11 {
  	position: absolute;
  	top: 65px;
  	left: 304px;
  	width: 846px;
  	height: 134.6px;
  	color: #020617;
  	font-family: 'League Gothic';
}
.heading-22 {
  	position: absolute;
  	top: 37px;
  	left: 0px;
  	width: 846px;
  	height: 54.6px;
}
.do-fsico-ao {
  	position: absolute;
  	top: -1.33px;
  	left: 67.34px;
  	flex-shrink: 0;
}
.uma-plataforma-integrada2 {
  	position: absolute;
  	top: 176px;
  	left: 132px;
  	font-size: 20px;
  	display: inline-block;
  	width: 1175px;
}
.component-1 {
  	position: absolute;
  	top: 303px;
  	left: calc(50% - 690px);
  	width: 1379px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 55px 59px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 14px;
}
.container-container {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 198px;
}
.container12 {
  	width: 220px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
}
.container13 {
  	align-self: stretch;
  	height: 308px;
  	position: relative;
}
.container14 {
  	position: absolute;
  	top: 33px;
  	left: 17px;
  	background-color: #e2e8f0;
  	width: 2px;
  	height: 35px;
}
.container15 {
  	position: absolute;
  	top: 104px;
  	left: 17px;
  	background-color: #e2e8f0;
  	width: 2px;
  	height: 32px;
}
.container16 {
  	position: absolute;
  	top: 172px;
  	left: 17px;
  	background-color: #e2e8f0;
  	width: 2px;
  	height: 32px;
}
.container17 {
  	position: absolute;
  	top: 240px;
  	left: 17px;
  	background-color: #e2e8f0;
  	width: 2px;
  	height: 32px;
}
.container18 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 220px;
  	height: 308px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
}
.container19 {
  	align-self: stretch;
  	height: 36px;
  	position: relative;
  	color: #fff;
}
.container20 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 7.7px rgba(234, 88, 12, 0.61);
  	border-radius: 22369600px;
  	background-color: #ea580c;
  	width: 36px;
  	height: 36px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.div {
  	position: relative;
  	line-height: 21px;
  	font-weight: 600;
}
.container21 {
  	position: absolute;
  	top: 7.5px;
  	left: 48px;
  	width: 87.4px;
  	height: 21px;
  	color: #020617;
}
.digitalizao {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 21px;
  	font-weight: 600;
}
.container22 {
  	align-self: stretch;
  	height: 36px;
  	position: relative;
}
.container23 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 22369600px;
  	background-color: #f8fafc;
  	border: 2px solid #e2e8f0;
  	box-sizing: border-box;
  	width: 36px;
  	height: 36px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.container24 {
  	position: absolute;
  	top: 7.5px;
  	left: 48px;
  	width: 104.1px;
  	height: 21px;
}
.processamento {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 21px;
  	font-weight: 500;
  	flex-shrink: 0;
}
.container27 {
  	position: absolute;
  	top: 7.5px;
  	left: 48px;
  	width: 69.2px;
  	height: 21px;
}
.container30 {
  	position: absolute;
  	top: 7.5px;
  	left: 48px;
  	width: 85.7px;
  	height: 21px;
}
.container33 {
  	position: absolute;
  	top: 7.5px;
  	left: 48px;
  	width: 88.4px;
  	height: 21px;
}
.container34 {
  	align-self: stretch;
  	height: 18px;
  	position: relative;
  	font-size: 12px;
  	color: #cbd5e1;
}
.icon-parent {
  	position: absolute;
  	top: -1.1px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	flex-shrink: 0;
}
.icon {
  	height: 14px;
  	width: 14px;
  	position: relative;
}
.text {
  	height: 18px;
  	width: 110.6px;
  	position: relative;
}
.scroll-para-explorar {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	line-height: 18px;
}
.container35 {
  	height: 294px;
  	width: 843px;
  	box-shadow: 0px 10px 15px -3px rgba(234, 88, 12, 0.05), 0px 4px 6px -4px rgba(234, 88, 12, 0.05);
  	border-radius: 14px;
  	background-color: #fff;
  	border: 0.7px solid #ea580c;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 33px;
  	font-size: 20px;
  	color: #020617;
}
.frame-div {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.container36 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 0px;
  	gap: 20px;
}
.container37 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	padding: 0px 0px 0px 0.2px;
}
.container38 {
  	flex: 1;
  	display: flex;
  	align-items: center;
}
.material-symbolsscan-outline-parent {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.material-symbolsscan-outline {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.vector-icon4 {
  	width: 30px;
  	position: relative;
  	max-height: 100%;
}
.digitalizao-de-alta {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	display: flex;
  	align-items: center;
}
.paragraph5 {
  	align-self: stretch;
  	height: 75.2px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: justify;
  	font-size: 16px;
  	color: #64748b;
}
.ocr-avanado-com {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
}
.container39 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 143px;
  	color: #ea580c;
}
.container40 {
  	height: 82px;
  	width: 160px;
  	border-radius: 10px;
  	background-color: #f8fafc;
  	border: 0.7px solid #cbd5e1;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16.5px 16.5px 0.7px;
  	gap: 4px;
}
.container41 {
  	align-self: stretch;
  	height: 30px;
  	position: relative;
}
.b {
  	position: absolute;
  	top: -0.33px;
  	left: 0.06px;
  	line-height: 30px;
}
.container42 {
  	align-self: stretch;
  	height: 15px;
  	position: relative;
  	font-size: 10px;
  	color: #64748b;
}
.monitoramento {
  	position: absolute;
  	top: 0px;
  	left: 0.06px;
  	letter-spacing: 0.5px;
  	line-height: 15px;
  	text-transform: uppercase;
  	font-weight: 600;
}
.container-wrapper {
  	display: flex;
  	align-items: flex-start;
}
.container47 {
  	height: 30px;
  	width: 96px;
  	position: relative;
}
.container-parent2 {
  	position: absolute;
  	top: 4723px;
  	left: calc(50% - 720px);
  	border-radius: 2px;
  	background-color: #f8fafc;
  	width: 1440px;
  	height: 1242px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 20px;
  	color: #020617;
}
.container49 {
  	position: absolute;
  	top: 65px;
  	left: 304px;
  	width: 846px;
  	height: 134.6px;
  	text-align: center;
  	font-size: 48px;
  	font-family: 'League Gothic';
}
.seu-arquivo-fsico {
  	position: absolute;
  	top: -1.33px;
  	left: 142.34px;
  	flex-shrink: 0;
}
.container50 {
  	position: absolute;
  	top: 302px;
  	left: 984px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 14px;
  	background-color: #fff;
  	border-top: 2.7px solid #ea580c;
  	box-sizing: border-box;
  	width: 266px;
  	height: 370.7px;
}
.frame-parent {
  	position: absolute;
  	top: 35px;
  	left: 32px;
  	width: 202px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 31px;
}
.frame-group {
  	align-self: stretch;
  	height: 198px;
  	position: relative;
}
.bellringing-parent {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	flex-shrink: 0;
}
.bellringing {
  	width: 32px;
  	height: 32px;
  	position: relative;
}
.vector-icon5 {
  	position: absolute;
  	height: 84.38%;
  	width: 78.44%;
  	top: 6.25%;
  	right: 10.74%;
  	bottom: 9.38%;
  	left: 10.83%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.heading-36 {
  	align-self: stretch;
  	height: 47px;
  	position: relative;
}
.notificaes-em-tempo {
  	position: absolute;
  	top: -0.67px;
  	left: 0px;
  	display: inline-block;
  	width: 185px;
}
.paragraph6 {
  	position: absolute;
  	width: 100%;
  	top: 122px;
  	right: 0px;
  	left: 0px;
  	height: 96px;
  	flex-shrink: 0;
  	font-size: 16px;
  	color: #475569;
}
.notificaes-imediatas-por {
  	position: absolute;
  	top: -0.33px;
  	left: 0px;
  	display: inline-block;
  	width: 202px;
}
.container51 {
  	align-self: stretch;
  	height: 72px;
  	position: relative;
  	font-size: 32px;
  	color: #ea580c;
  	font-family: 'League Gothic';
}
.reduo-de-perdas {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 202px;
  	flex-shrink: 0;
}
.container52 {
  	position: absolute;
  	top: 302px;
  	left: 594px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 14px;
  	background-color: #fff;
  	border-top: 2.7px solid #ea580c;
  	box-sizing: border-box;
  	width: 266px;
  	height: 370.7px;
}
.thermometersimple-parent {
  	position: absolute;
  	top: 35px;
  	left: 32px;
  	width: 202px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 15px;
}
.vector-icon6 {
  	position: absolute;
  	height: 93.75%;
  	width: 50%;
  	top: 3.13%;
  	right: 25%;
  	bottom: 3.13%;
  	left: 25%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.heading-37 {
  	align-self: stretch;
  	height: 60px;
  	position: relative;
}
.paragraph7 {
  	align-self: stretch;
  	height: 96px;
  	position: relative;
  	font-size: 16px;
  	color: #475569;
}
.container53 {
  	align-self: stretch;
  	height: 36px;
  	position: relative;
  	font-size: 32px;
  	color: #ea580c;
  	font-family: 'League Gothic';
}
.em-tempo-real {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	flex-shrink: 0;
}
.container54 {
  	position: absolute;
  	top: 302px;
  	left: 204px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 14px;
  	background-color: #fff;
  	border-top: 2.7px solid #ea580c;
  	box-sizing: border-box;
  	width: 266px;
  	height: 370.7px;
}
.barcode-parent {
  	position: absolute;
  	top: 39px;
  	left: 32px;
  	width: 202px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 13px;
}
.vector-icon7 {
  	position: absolute;
  	height: 68.75%;
  	width: 81.25%;
  	top: 15.63%;
  	right: 9.38%;
  	bottom: 15.63%;
  	left: 9.38%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container56 {
  	position: absolute;
  	top: 742.67px;
  	left: 984px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 14px;
  	background-color: #fff;
  	border-top: 2.7px solid #ea580c;
  	box-sizing: border-box;
  	width: 266px;
  	height: 371px;
}
.vector-icon8 {
  	position: absolute;
  	height: 84.38%;
  	width: 75%;
  	top: 3.13%;
  	right: 12.5%;
  	bottom: 12.5%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.heading-39 {
  	align-self: stretch;
  	height: 58px;
  	position: relative;
}
.proteo-de-dados {
  	position: absolute;
  	top: -0.33px;
  	left: 0px;
}
.container58 {
  	position: absolute;
  	top: 742.67px;
  	left: 594px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 14px;
  	background-color: #fff;
  	border-top: 2.7px solid #ea580c;
  	box-sizing: border-box;
  	width: 266px;
  	height: 371px;
}
.vector-icon9 {
  	position: absolute;
  	height: 78.13%;
  	width: 75%;
  	top: 15.63%;
  	right: 12.5%;
  	bottom: 6.25%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container60 {
  	position: absolute;
  	top: 742.67px;
  	left: 204px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 14px;
  	background-color: #fff;
  	border-top: 2.7px solid #ea580c;
  	box-sizing: border-box;
  	width: 266px;
  	height: 371px;
}
.vector-icon10 {
  	position: absolute;
  	height: 87.5%;
  	width: 75%;
  	top: 3.13%;
  	right: 12.5%;
  	bottom: 9.38%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.x-mais-rpido {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 202px;
}
.dashboardpreview {
  	position: absolute;
  	top: 5965px;
  	left: 0px;
  	background-color: #0f172a;
  	width: 1440px;
  	height: 1024px;
  	text-align: left;
  	font-size: 38px;
  	color: #fff;
  	font-family: 'League Gothic';
}
.container62 {
  	position: absolute;
  	top: 114px;
  	left: 863px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 24px;
  	flex-shrink: 0;
}
.container63 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 96px;
}
.container64 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
}
.heading-312 {
  	align-self: stretch;
  	height: 42px;
  	position: relative;
}
.conformidade-legal {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: 0.05em;
  	flex-shrink: 0;
}
.container65 {
  	width: 420px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 20px;
  	font-family: Inter;
}
.container66 {
  	align-self: stretch;
  	height: 25.6px;
  	position: relative;
}
.checkcircle-parent {
  	position: absolute;
  	top: -10px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.checkcircle {
  	height: 26px;
  	width: 26px;
  	position: relative;
}
.vector-icon11 {
  	position: absolute;
  	height: 81.15%;
  	width: 81.15%;
  	top: 9.38%;
  	right: 9.47%;
  	bottom: 9.47%;
  	left: 9.37%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.text-wrapper {
  	width: 326.7px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
}
.lgpd-proteo {
  	position: absolute;
  	top: -1.33px;
  	left: 0px;
  	flex-shrink: 0;
}
.checkcircle-group {
  	display: flex;
  	align-items: center;
}
.text3 {
  	align-self: stretch;
  	height: 46px;
  	position: relative;
}
.checkcircle-container {
  	height: 70px;
  	display: flex;
  	align-items: center;
}
.checkcircle-parent2 {
  	height: 61px;
  	display: flex;
  	align-items: center;
}
.container67 {
  	width: 428px;
  	height: 304px;
  	position: relative;
}
.heading-313 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 391px;
  	height: 42px;
}
.container68 {
  	position: absolute;
  	top: 74.03px;
  	left: 0px;
  	width: 428px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 20px;
  	font-family: Inter;
}
.chatgpt-image-5-de-mai-de-202 {
  	position: absolute;
  	top: 517px;
  	left: 313px;
  	border-radius: 16px;
  	width: 407px;
  	height: 342px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.gemini-generated-image-10zq711-icon {
  	position: absolute;
  	top: 151px;
  	left: 125px;
  	border-radius: 16px;
  	width: 407px;
  	height: 338px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.container-parent3 {
  	position: absolute;
  	top: 6989px;
  	left: 0px;
  	border-radius: 2px;
  	background-color: #f8fafc;
  	width: 1440px;
  	height: 1097px;
  	overflow: hidden;
  	font-size: 20px;
  	color: #0f172a;
}
.container69 {
  	position: absolute;
  	top: 65px;
  	left: 304px;
  	width: 846px;
  	height: 134.6px;
  	font-size: 48px;
  	font-family: 'League Gothic';
}
.solues-para-o {
  	position: absolute;
  	top: -1.33px;
  	left: 239.34px;
  	flex-shrink: 0;
}
.uma-plataforma-integrada3 {
  	position: absolute;
  	top: 200px;
  	left: calc(50% - 387px);
  	color: #475569;
  	display: inline-block;
  	width: 774px;
}
.container-parent4 {
  	position: absolute;
  	top: 304px;
  	left: 102px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 17px;
  	text-align: left;
  	color: #f8fafc;
}
.container70 {
  	width: 739px;
  	height: 95px;
  	border-radius: 14px;
  	background-color: #0f172a;
  	border: 0.7px solid #475569;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 25px;
  	gap: 8px;
}
.heading-314 {
  	align-self: stretch;
  	height: 27px;
  	position: relative;
  	flex-shrink: 0;
}
.prefeituras {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 30px;
  	font-weight: 600;
  	flex-shrink: 0;
}
.paragraph12 {
  	align-self: stretch;
  	height: 20px;
  	position: relative;
  	flex-shrink: 0;
  	font-size: 16px;
}
.ocr-com-95 {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	display: inline-block;
  	width: 670px;
}
.container71 {
  	width: 739px;
  	height: 96px;
  	border-radius: 14px;
  	background-color: #0f172a;
  	border: 0.7px solid #475569;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 25px;
  	gap: 8px;
}
.paragraph13 {
  	align-self: stretch;
  	height: 19px;
  	position: relative;
  	flex-shrink: 0;
  	font-size: 16px;
}
.ocr-com-952 {
  	position: absolute;
  	top: 0.21px;
  	left: 0px;
  	display: inline-block;
  	width: 670px;
}
.container72 {
  	width: 739px;
  	height: 97px;
  	border-radius: 14px;
  	background-color: #0f172a;
  	border: 0.7px solid #475569;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 25px;
  	gap: 8px;
}
.ocr-com-953 {
  	position: absolute;
  	top: 0.42px;
  	left: 0px;
  	display: inline-block;
  	width: 670px;
}
.ocr-com-954 {
  	position: absolute;
  	top: 0.63px;
  	left: 0px;
  	display: inline-block;
  	width: 670px;
}
.ocr-com-955 {
  	position: absolute;
  	top: 0.83px;
  	left: 0px;
  	display: inline-block;
  	width: 670px;
}
.ocr-com-956 {
  	position: absolute;
  	top: 1.04px;
  	left: 0px;
  	display: inline-block;
  	width: 670px;
}
.gemini-generated-image-79qp027-icon {
  	position: absolute;
  	top: 317px;
  	left: 907px;
  	border-radius: 16px;
  	width: 445px;
  	height: 609px;
  	object-fit: cover;
}
.dashboardpreview2 {
  	position: absolute;
  	top: 1841px;
  	left: 0px;
  	background-color: #0f172a;
  	width: 1440px;
  	height: 998px;
  	font-family: 'League Gothic';
}
.frame-container {
  	position: absolute;
  	top: 107px;
  	left: calc(50% - 632px);
  	width: 1264px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 154px;
  	flex-shrink: 0;
}
.heading-2-parent {
  	width: 875px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 43px;
}
.heading-25 {
  	width: 846px;
  	height: 54.6px;
  	position: relative;
}
.tempo-real {
  	color: #ea580c;
}
.uma-plataforma-integrada4 {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	font-family: Inter;
}
.container-parent5 {
  	align-self: stretch;
  	display: grid;
  	grid-template-columns: repeat(2, 620px);
  	align-content: start;
  	gap: 24px;
  	font-size: 20px;
  	color: #0f172a;
  	font-family: Inter;
}
.container76 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 1;
  	grid-row: 1;
}
.container77 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	align-items: flex-start;
  	padding: 20px;
  	gap: 12px;
}
.container78 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
}
.boxarrowup {
  	height: 32px;
  	width: 32px;
  	position: relative;
  	flex-shrink: 0;
}
.vector-icon20 {
  	position: absolute;
  	height: 75%;
  	width: 75%;
  	top: 12.5%;
  	right: 12.5%;
  	bottom: 12.5%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.mapeamento-de-acervo {
  	flex: 1;
  	position: relative;
  	flex-shrink: 0;
}
.button {
  	height: 24px;
  	width: 24px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 2px;
  	box-sizing: border-box;
}
.icon2 {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.container79 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 2;
  	grid-row: 1;
}
.vector-icon21 {
  	position: absolute;
  	height: 75%;
  	width: 81.25%;
  	top: 12.5%;
  	right: 9.38%;
  	bottom: 12.5%;
  	left: 9.38%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container82 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 1;
  	grid-row: 2;
}
.vector-icon22 {
  	position: absolute;
  	height: 81.25%;
  	width: 81.25%;
  	top: 9.29%;
  	right: 9.46%;
  	bottom: 9.46%;
  	left: 9.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container85 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 2;
  	grid-row: 2;
}
.vector-icon23 {
  	position: absolute;
  	height: 56.25%;
  	width: 81.25%;
  	top: 21.88%;
  	right: 6.25%;
  	bottom: 21.88%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container88 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 1;
  	grid-row: 3;
}
.container91 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 2;
  	grid-row: 3;
}
.vector-icon25 {
  	position: absolute;
  	height: 84.38%;
  	width: 84.38%;
  	top: 12.5%;
  	right: 3.13%;
  	bottom: 3.13%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container94 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 1;
  	grid-row: 4;
}
.container97 {
  	width: 620px;
  	height: 65px;
  	box-shadow: 0px 8px 32px rgba(234, 88, 12, 0.12);
  	border-radius: 14px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.7px;
  	box-sizing: border-box;
  	grid-column: 2;
  	grid-row: 4;
}
.vector-icon27 {
  	position: absolute;
  	height: 78.13%;
  	width: 81.25%;
  	top: 9.38%;
  	right: 9.43%;
  	bottom: 12.5%;
  	left: 9.32%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.dashboardpreview3 {
  	position: absolute;
  	top: 3699px;
  	left: 0px;
  	background-color: #0f172a;
  	width: 1440px;
  	height: 1024px;
  	font-size: 20px;
}
.heading-26 {
  	position: absolute;
  	top: 113px;
  	left: 297px;
  	width: 846px;
  	height: 54.6px;
  	flex-shrink: 0;
  	font-size: 48px;
  	font-family: 'League Gothic';
}
.a-inteligncia-que-container {
  	position: absolute;
  	top: -1.33px;
  	left: 4.34px;
  	flex-shrink: 0;
}
.uma-plataforma-integrada5 {
  	position: absolute;
  	top: 250px;
  	left: 135px;
  	text-align: justify;
  	display: inline-block;
  	width: 510px;
  	flex-shrink: 0;
}
.uma-plataforma-integrada-container {
  	position: absolute;
  	top: 452px;
  	left: 135px;
  	text-align: left;
  	display: inline-block;
  	width: 510px;
  	flex-shrink: 0;
}
.blank-line {
  	margin: 0;
}
.digitalizao-de-alta-performa {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 27px;
}
.processamento-com-ocr {
  	margin-bottom: 0px;
}
.gemini-generated-image-lv1jszl-icon {
  	position: absolute;
  	top: 334px;
  	left: 783px;
  	border-radius: 16px;
  	width: 567px;
  	height: 416px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.ctasection {
  	position: absolute;
  	top: 8086px;
  	left: 0px;
  	background-color: #ea580c;
  	width: 1440px;
  	height: 816px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	text-align: left;
  	font-size: 38px;
  	color: #fff;
}
.container100 {
  	width: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 24px;
  	box-sizing: border-box;
  	gap: 158px;
  	max-width: 100%;
}
.container101 {
  	height: 302px;
  	width: 472px;
  	position: relative;
}
.heading-27 {
  	position: absolute;
  	top: -14px;
  	left: -27px;
  	width: 499px;
  	height: 92px;
  	flex-shrink: 0;
  	font-family: 'League Gothic';
}
.pronto-para-transformar {
  	position: absolute;
  	top: 23px;
  	left: 23px;
  	letter-spacing: 0.05em;
}
.paragraph18 {
  	position: absolute;
  	top: 114px;
  	left: 0px;
  	width: 444px;
  	height: 86px;
  	flex-shrink: 0;
  	text-align: justify;
  	font-size: 20px;
}
.agende-uma-demonstrao {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 444px;
}
.container102 {
  	position: absolute;
  	top: 222px;
  	left: 0px;
  	width: 399px;
  	height: 58px;
  	flex-shrink: 0;
  	font-size: 16px;
}
.container103 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 191.5px;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.vector-icon28 {
  	position: absolute;
  	height: 78%;
  	width: 75%;
  	top: 15.63%;
  	right: 12.5%;
  	bottom: 6.38%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.text11 {
  	height: 21px;
  	width: 107.9px;
  	position: relative;
  	flex-shrink: 0;
}
.container104 {
  	position: absolute;
  	top: 0px;
  	left: 207.5px;
  	width: 191.5px;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.medal {
  	height: 30px;
  	width: 30px;
  	position: relative;
  	flex-shrink: 0;
}
.vector-icon29 {
  	position: absolute;
  	height: 93.67%;
  	width: 68.67%;
  	top: 3.1%;
  	right: 15.71%;
  	bottom: 3.23%;
  	left: 15.62%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.text12 {
  	height: 21px;
  	width: 60.9px;
  	position: relative;
  	flex-shrink: 0;
}
.container105 {
  	position: absolute;
  	top: 37px;
  	left: 0px;
  	width: 191.5px;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.vector-icon30 {
  	position: absolute;
  	height: 87.67%;
  	width: 75%;
  	top: 3.13%;
  	right: 12.5%;
  	bottom: 9.21%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.text13 {
  	height: 21px;
  	width: 108.6px;
  	position: relative;
  	flex-shrink: 0;
}
.container106 {
  	position: absolute;
  	top: 37px;
  	left: 207.5px;
  	width: 191.5px;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.vector-icon31 {
  	position: absolute;
  	height: 84.33%;
  	width: 87.33%;
  	top: 6.25%;
  	right: 6.41%;
  	bottom: 9.42%;
  	left: 6.25%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container107 {
  	width: 440px;
  	border-radius: 16px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 24px 40px;
  	box-sizing: border-box;
  	gap: 24px;
  	font-size: 20px;
  	color: #0f172a;
}
.falar-com-um {
  	position: absolute;
  	top: -0.33px;
  	left: 0px;
  	line-height: 30px;
  	font-weight: 600;
}
.form {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 16px;
  	color: #cbd5e1;
  	font-family: Roboto;
}
.text-field {
  	align-self: stretch;
  	height: 56px;
  	border-radius: 12px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.text-field2 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 12px;
  	border: 1px solid #e2e8f0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.state-layer {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 4px 4px 0px 0px;
  	display: flex;
  	align-items: flex-start;
  	padding: 4px 0px 4px 16px;
}
.content {
  	height: 48px;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 4px 0px;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
}
.input-text-container {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	z-index: 0;
  	flex-shrink: 0;
}
.input-text {
  	flex: 1;
  	position: relative;
  	letter-spacing: 0.5px;
  	line-height: 24px;
}
.label-text-container {
  	margin: 0 !important;
  	position: absolute;
  	top: -12px;
  	left: -4px;
  	background-color: #fff;
  	display: flex;
  	align-items: center;
  	padding: 0px 4px;
  	z-index: 1;
  	flex-shrink: 0;
  	font-size: 12px;
  	color: #64748b;
}
.label-text {
  	position: relative;
  	letter-spacing: 0.4px;
  	line-height: 16px;
}
.text-field7 {
  	align-self: stretch;
  	border-radius: 12px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.text-field8 {
  	align-self: stretch;
  	height: 56px;
  	border-radius: 12px;
  	border: 1px solid #e2e8f0;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.text-field9 {
  	align-self: stretch;
  	height: 66px;
  	border-radius: 12px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.content5 {
  	height: 48px;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4px 0px;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
}
.frame-parent2 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 10px;
  	color: #64748b;
  	font-family: Inter;
}
.checkboxes-parent {
  	display: flex;
  	align-items: center;
  	gap: 1px;
}
.checkboxes {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.checkboxes2 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 4px;
}
.state-layer6 {
  	border-radius: 100px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 11px;
}
.container108 {
  	height: 18px;
  	width: 18px;
  	position: relative;
  	border-radius: 2px;
  	border: 2px solid #e2e8f0;
  	box-sizing: border-box;
}
.li-e-concordo-container {
  	position: relative;
}
.privacidade-e-os {
  	text-decoration: underline;
}
.toggle-button-elevated {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	font-size: 20px;
  	color: #f8fafc;
  	font-family: Inter;
}
.toggle-button-elevated2 {
  	width: 360px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.content6 {
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  	border-radius: 100px;
  	background-color: #020617;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 100%;
}
.state-layer8 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 24px;
}
.label {
  	position: relative;
  	font-weight: 600;
}
.footer {
  	position: absolute;
  	top: 8902px;
  	left: 0px;
  	background-color: #0f172a;
  	width: 1440px;
  	height: 434px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 64px 0px 0px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 16px;
}
.container110 {
  	align-self: stretch;
  	height: 350px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 24px;
  	box-sizing: border-box;
  	gap: 48px;
}
.container111 {
  	align-self: stretch;
  	height: 250px;
  	position: relative;
}
.container112 {
  	position: absolute;
  	top: -10px;
  	left: 0px;
  	width: 399px;
  	height: 206px;
  	flex-shrink: 0;
  	font-size: 36px;
}
.container113 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 399px;
  	height: 42px;
  	color: #fff;
  	font-family: 'League Gothic';
}
.e-boxai-parent {
  	position: absolute;
  	height: 111.9%;
  	width: 38.1%;
  	top: -11.9%;
  	right: 61.9%;
  	bottom: 0%;
  	left: 0%;
  	flex-shrink: 0;
}
.e-boxai {
  	position: absolute;
  	top: 0%;
  	left: 38.16%;
  	letter-spacing: 0.09em;
}
.vector-icon32 {
  	position: absolute;
  	height: 41.7%;
  	width: 12.89%;
  	top: 0%;
  	right: 76.13%;
  	bottom: 58.3%;
  	left: 10.97%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: contain;
}
.vector-icon33 {
  	position: absolute;
  	height: 70.21%;
  	width: 34.21%;
  	top: 29.79%;
  	right: 65.79%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.paragraph19 {
  	position: absolute;
  	top: 58px;
  	left: 0px;
  	width: 399px;
  	height: 22.4px;
  	font-size: 12px;
}
.gesto-documental-inteligente {
  	position: absolute;
  	top: 0.67px;
  	left: 0px;
}
.container114 {
  	position: absolute;
  	top: 104.4px;
  	left: 0px;
  	width: 399px;
  	height: 20px;
  	display: flex;
  	align-items: flex-start;
  	gap: 16px;
}
.link {
  	height: 20px;
  	width: 20px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.icon10 {
  	align-self: stretch;
  	height: 20px;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
}
.container115 {
  	position: absolute;
  	top: 148.4px;
  	left: 0px;
  	width: 399px;
  	height: 24.5px;
  	display: flex;
  	align-items: flex-start;
  	gap: 8px;
  	font-size: 11px;
}
.text15 {
  	height: 24.5px;
  	width: 53.1px;
  	position: relative;
  	border-radius: 4px;
  	background-color: #1e293b;
}
.lgpd {
  	position: absolute;
  	top: 4.33px;
  	left: 12px;
  	line-height: 16.5px;
}
.text16 {
  	height: 24.5px;
  	width: 71.8px;
  	position: relative;
  	border-radius: 4px;
  	background-color: #1e293b;
}
.text17 {
  	height: 24.5px;
  	width: 76.6px;
  	position: relative;
  	border-radius: 4px;
  	background-color: #1e293b;
}
.container116 {
  	position: absolute;
  	top: -10px;
  	left: 444px;
  	width: 286px;
  	height: 206px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	flex-shrink: 0;
}
.solues {
  	position: absolute;
  	top: -1px;
  	left: 0px;
  	font-weight: 600;
}
.list {
  	align-self: stretch;
  	height: 166px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
  	font-size: 12px;
}
.list-item {
  	align-self: stretch;
  	height: 21px;
  	position: relative;
}
.busca-unificada {
  	position: absolute;
  	top: 0px;
  	left: 0px;
}
.container117 {
  	position: absolute;
  	top: -10px;
  	left: 775px;
  	width: 286px;
  	height: 197px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	flex-shrink: 0;
}
.heading-42 {
  	align-self: stretch;
  	height: 24px;
  	position: relative;
  	flex-shrink: 0;
}
.list2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
  	flex-shrink: 0;
  	font-size: 12px;
}
.list-item10 {
  	align-self: stretch;
  	height: 21px;
  	position: relative;
  	flex-shrink: 0;
  	color: #fff;
}
.conformidade {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
}
.container-parent6 {
  	position: absolute;
  	top: -10px;
  	left: 1106px;
  	width: 286px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 22px;
  	flex-shrink: 0;
}
.container118 {
  	align-self: stretch;
  	height: 151px;
  	position: relative;
}
.heading-4-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 286px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
}
.list4 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
  	text-align: center;
  	font-size: 12px;
}
.list-item13 {
  	align-self: stretch;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.icon12 {
  	height: 16px;
  	width: 16px;
  	position: relative;
}
.text18 {
  	height: 21px;
  	width: 157.8px;
  	position: relative;
}
.suporteeboxaicombr {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 136px;
  	height: 21px;
}
.list-item14 {
  	width: 228px;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.text19 {
  	height: 21px;
  	width: 115.1px;
  	position: relative;
}
.div6 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 91px;
  	height: 21px;
}
.list-item15 {
  	align-self: stretch;
  	height: 48px;
  	display: flex;
  	align-items: flex-start;
  	gap: 8px;
  	text-align: left;
}
.text20 {
  	height: 45px;
  	width: 204px;
  	position: relative;
}
.av-jk-n {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 204px;
}
.button-outline {
  	height: 48px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.content7 {
  	border-radius: 100px;
  	border: 1px solid #f8fafc;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.state-layer9 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 12px;
}
.container119 {
  	align-self: stretch;
  	height: 52.2px;
  	border-top: 0.7px solid #334155;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 32.7px 0px 0px;
  	font-size: 13px;
  	color: #64748b;
}
.container120 {
  	align-self: stretch;
  	height: 19.5px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.paragraph20 {
  	height: 19.5px;
  	width: 282.9px;
  	position: relative;
}
.eboxai-todos-os {
  	position: absolute;
  	top: 0.33px;
  	left: 0px;
  	line-height: 19.5px;
}
.hero {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 720px);
  	background-color: #fff;
  	width: 1440px;
  	height: 1024px;
  	overflow: hidden;
  	font-size: 12px;
  	color: #475569;
}
.chatgpt-image-5-de-mai-de-2022 {
  	position: absolute;
  	top: -5px;
  	left: -304px;
  	width: 1808px;
  	height: 1205px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.hero-inner {
  	position: absolute;
  	top: 237px;
  	left: 48px;
  	border-radius: 16px;
  	background-color: rgba(241, 245, 249, 0.2);
  	width: 705px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 56px 58px;
  	box-sizing: border-box;
  	flex-shrink: 0;
  	font-size: 64px;
  	color: #020617;
  	font-family: 'League Gothic';
}
.frame-parent3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 68px;
}
.seus-documentos-esto-seguros-parent {
  	width: 589px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 37px;
}
.seus-documentos-esto {
  	align-self: stretch;
  	position: relative;
}
.gesto-inteligente-de {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	font-family: Inter;
  	text-align: justify;
}
.toggle-button-elevated-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 23px;
  	text-align: left;
  	font-size: 20px;
  	color: #fff;
  	font-family: Inter;
}
.toggle-button-elevated4 {
  	width: 375px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.content8 {
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  	border-radius: 100px;
  	background-color: #ea580c;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 100%;
}
.state-layer10 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 24px;
  	gap: 8px;
  	flex-shrink: 0;
}
.icon15 {
  	height: 24px;
  	width: 24px;
  	position: relative;
}
.arrowright {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.vector-icon34 {
  	position: absolute;
  	height: 62.5%;
  	width: 75%;
  	top: 18.75%;
  	right: 12.5%;
  	bottom: 18.75%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.button-outline2 {
  	display: flex;
  	align-items: flex-start;
  	color: #020617;
}
.button-outline3 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.content9 {
  	border-radius: 100px;
  	border: 1px solid #020617;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.state-layer11 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 24px;
  	gap: 8px;
}
.frame-parent4 {
  	position: absolute;
  	top: 921px;
  	left: 833px;
  	width: 146px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 4px;
  	flex-shrink: 0;
}
.shieldcheck-wrapper {
  	width: 44px;
  	height: 44px;
  	border-radius: 50px;
  	background-color: rgba(248, 250, 252, 0.3);
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.shieldcheck5 {
  	height: 35px;
  	width: 35px;
  	position: relative;
}
.vector-icon36 {
  	position: absolute;
  	height: 78%;
  	width: 75.14%;
  	top: 15.63%;
  	right: 12.36%;
  	bottom: 6.37%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.frame-parent5 {
  	position: absolute;
  	top: 921px;
  	left: 984px;
  	width: 151px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 4px;
  	flex-shrink: 0;
}
.vector-icon37 {
  	position: absolute;
  	height: 81.43%;
  	width: 81.43%;
  	top: 9.29%;
  	right: 9.28%;
  	bottom: 9.28%;
  	left: 9.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.frame-parent6 {
  	position: absolute;
  	top: 921px;
  	left: 1140px;
  	width: 138px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 4px;
  	flex-shrink: 0;
}
.vector-icon38 {
  	position: absolute;
  	height: 81.14%;
  	width: 68.86%;
  	top: 9.37%;
  	right: 15.52%;
  	bottom: 9.48%;
  	left: 15.63%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.caretdown {
  	position: absolute;
  	top: 934px;
  	left: calc(50% - 40px);
  	width: 71px;
  	height: 71px;
  	flex-shrink: 0;
}
.vector-icon39 {
  	position: absolute;
  	height: 37.46%;
  	width: 68.73%;
  	top: 34.37%;
  	right: 15.64%;
  	bottom: 28.16%;
  	left: 15.62%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.component-3 {
  	position: absolute;
  	top: 21px;
  	left: calc(50% - 672px);
  	border-radius: 16px;
  	background-color: rgba(241, 245, 249, 0.2);
  	width: 1344px;
  	height: 84px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 23px 323px 23px 20px;
  	box-sizing: border-box;
  	gap: 236px;
  	text-align: left;
  	font-size: 40px;
  	color: #0f172a;
  	font-family: 'League Gothic';
}
.container-frame {
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.container121 {
  	width: 162px;
  	display: flex;
  	align-items: center;
  	gap: 4px;
}
.logo-container {
  	width: 52px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.vector-icon40 {
  	width: 19.6px;
  	height: 20.4px;
  	position: relative;
  	object-fit: contain;
}
.vector-icon41 {
  	width: 52px;
  	height: 34.4px;
  	position: relative;
  	margin-top: -5px;
}
.company-name {
  	height: 50.1px;
  	width: 104px;
  	position: relative;
  	letter-spacing: 0.09em;
  	display: inline-block;
  	flex-shrink: 0;
}
.container-parent7 {
  	display: flex;
  	align-items: center;
  	gap: 32px;
  	flex-shrink: 0;
  	text-align: center;
  	font-size: 20px;
  	color: #020617;
  	font-family: Inter;
}
.container122 {
  	height: 31px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.plataforma2 {
  	width: 116.3px;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.container123 {
  	height: 31px;
  	display: flex;
  	align-items: center;
}
.fab {
  	position: absolute;
  	top: 912px;
  	left: 1325px;
  	box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  	border-radius: 60px;
  	background-color: #eaddff;
  	width: 67px;
  	height: 67px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.state-layer12 {
  	width: 90px;
  	height: 80px;
  	border-radius: 20px;
  	background-color: #34c759;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 26px;
  	box-sizing: border-box;
  	isolation: isolate;
  	flex-shrink: 0;
}
.icon17 {
  	align-self: stretch;
  	height: 38px;
  	position: relative;
  	z-index: 0;
  	flex-shrink: 0;
}
.vector-icon42 {
  	position: absolute;
  	height: 81.32%;
  	width: 81.32%;
  	top: 9.37%;
  	right: 9.32%;
  	bottom: 9.31%;
  	left: 9.37%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}


body {
  	margin: 0;
  	line-height: normal;
}